#nav-elements {
    padding-left: 2em;
}
#logo {
    font-family: 'Noto Sans KR', sans-serif ;
    font-weight: bold;
    font-size: 3em;
    padding-left: 3px;
    color: whitesmoke;

}

#accent {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3em;
    color: firebrick;
    
}

nav {
    height: 5em;
    position: fixed;
   border-bottom: 1px solid rgb(104, 104, 104);
}

.navbar-link {
    color: whitesmoke;
}
.control {
    padding-top: 20px;
}
.eventdate {
    padding-top: 20px;
    padding-right: 5px;
}

/* body styling */
body {
    background-color: black;
}


article {
    border: 1px solid rgb(104, 104, 104);
   

}

.title{
    color: rgb(104, 104, 104);
    font-family: 'Noto Sans KR', sans-serif;
}
.hero {
    border-bottom: 1px solid rgb(104, 104, 104);
    margin-top: 3em;
}

.hero-body {
    padding: 3em 0 1em 0;

}

/* marquee styling and functionality */
.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    color: whitesmoke;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2em;
    white-space: nowrap;
    
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 3s linear infinite;
    -webkit-animation: scroll-left 3s linear infinite;
    animation: scroll-left 30s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}